@using Transfer.Utility;
@using Transfer.Enum;
@{
    ViewBag.Manu = "KRiskMain";
    ViewBag.SubManu = "KRisk01Sub";
    ViewBag.Title = "傳送訊息給KRisk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ui-datepicker-trigger {
        border: none;
        background: none;
    }

    .error {
        color: red;
    }
</style>
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <form id="myForm">
                <table>
                    <tr>
                        <td style="width:550px; padding-top:5px;" class="form-group">
                            <label>報導日 : </label>
                            <input type="text" id="datepicker" name="datepicker">
                        </td>
                        <td style="width:450px;padding-top:10px;">
                            <label>資料版本 : </label>
                            <input type="text" id="version" name="version" style="width:300px">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top:10px">
                            <input type="button" class="btn btn-primary" value="執行信評轉檔" id="btnTransfer" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/i18n/datepicker-zh-TW.js"></script>  @*use datepicker*@
<script src="~/Scripts/jquery.validate.min.js"></script> @*use validate*@
<script src="~/Scripts/verification.js"></script> @*use validate*@

<script type="text/javascript">

    $(function () {
        //#region 註冊URL
        var url = {};
        url.transfer = '@Url.Action("TransferA57A58", "A5")';
        url.getDbData = '@Url.Action("GetCacheData", "A5")';
        //#endregion 註冊URL

        //#region 註冊datepicker
        created.createDatepicker('datepicker', true, null);
        //#endregion 註冊datepicker

        //#region 註冊verified
        verified.datepicker("myForm", "datepicker", true, $('#datepicker').val());
        verified.required("myForm", "version", message.required(message.version));
        //#endregion 註冊verified

        createJqgrid("list1", "pager1");

        //#region 註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'btnTransfer':
                    $('#' + id).on('click', function () { transfer() });
                    break;
            }
        })
        //#endregion 註冊click事件

        //#region 執行信評轉檔
        function transfer()
        {
            if($('#myForm').valid())
            {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        date: $('#datepicker').val(),
                        version: $('#version').val(),
                    }),
                    dataType: "json",
                    url: url.transfer,
                    contentType: 'application/json',
                    error: function () {
                        toastr.error("請重新登入!");
                    }
                })
                .done(function(result){
                    if(result.RETURN_FLAG)
                        toastr.success(result.DESCRIPTION);
                    else
                        toastr.error(result.DESCRIPTION);
                })
            }
        }
        //#endregion

        //#region clearJqgrid (清除JqGrid)
        function clearJqgrid() {
            $('#jqgridDiv').children().remove();
        }
        //#endregion clearJqgrid

        //#region createJqgrid (建立JqGrid套件)
        //listId (Jqgrid產生table的ID)
        //pagerId (下方產生筆數的ID)
        function createJqgrid(listId, pagerId) {
            var colNameArray = @Html.Raw(Json.Encode(ViewBag.jqgridColNames));
            var colModelArray = @Html.Raw(Json.Encode(ViewBag.jqgridColModel));
            $('#jqgridDiv').append('<table id="' + listId + '"></table>');
            $('#jqgridDiv').append('<div id="' + pagerId + '"></div>');
            $("#" + listId).jqGrid({
                url: url.getDbData,
                datatype: "json",
                mtype: "POST",
                postData:
                {
                    type: '@Ref.Table_Type.CheckTable.ToString()',
                },
                jsonReader:
                {
                    repeatitems: false,
                },
                colNames: colNameArray,
                colModel: colModelArray,
                rowNum: 10, //一頁筆數
                rowList: [10, 20, 30], //設定一頁幾筆
                pager: '#' + pagerId,
                height: jqgridCustom.setHeight,
                autowidth: true,
                //sortname: 'id',
                //viewrecords: true,
                sortorder: "desc",
                caption: '(債券明細檔)轉檔紀錄', //標題
                resizable: false,
                shrinkToFit: false,
                autoencode: true,
                viewsortcols: [true, 'vertical', true],
                ajaxRowOptions: { contentType: "application/json" },
                serializeRowData: function (data) {
                    return JSON.stringify(data);
                },
                loadComplete: function () {
                    jqgridCustom.updatePagerIcons($(this));
                }
            });
            $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
        }
        //#endregion createJqgrid
    });
</script>