<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IFRS9 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryjqgrid")
</head>
<body>
    <div class="nav-side-menu">
        <div class="brand">IFRS9</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li id="HomeMain" class="HomeMenu">                
                    <a href='@Url.Action("Index","Home",null)'>
                        <i class="fa fa-home fa-lg"></i>
                        首頁
                    </a>
                </li>
                <div id="menu">
                    @{ Html.RenderAction("Menu", "Account",null); }
                </div>
                <li id="A0Main" data-toggle="collapse" data-target="#A0" class="collapsed">
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> User (@Transfer.Controllers.AccountController.CurrentUserName)
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="A0">
                    <li id="A00SubMain" class="">
                        <i class='fa fa-sign-in fa-lg'></i>
                    <a href='@Url.Action("Login","Account",null)'>登入</a></li>
                    <li id="A01SubMain" class="">
                        <i class='fa fa-sign-out fa-lg'></i>
                    <a href='@Url.Action("LogOut","Account",null)'>登出</a></li>
                </ul>
            </ul>
        </div>
    </div>
    @RenderBody()
    <input type="hidden" value="@ViewBag.Manu" id="vbManu" />
    <input type="hidden" value="@ViewBag.SubManu" id="vbSubmanu" />
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Sidebar")
    @RenderSection("scripts", required: false)
</body>
</html>
