<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IFRS9 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryjqgrid")
</head>
<body>
    <div class="nav-side-menu">
        <div class="brand">IFRS9</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li id="HomeMain" class="HomeMenu">                
                    <a href='@Url.Action("Index","Home",null)'>
                        <i class="fa fa-home fa-lg"></i>
                        首頁
                    </a>
                </li>
                <li id="A4Main" data-toggle="collapse" data-target="#A4" class="collapsed">
                    <a href="#">
                        <i class="fa fa-file-excel-o fa-lg"></i>
                        A4 (債券明細檔)
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="A4">
                    <li id="A40SubMain" class=""><a href='@Url.Action("Index","A4",null)'>A4 (上傳檔案)</a></li>
                    <li id="A41SubMain" class=""><a href='@Url.Action("A41Detail","A4",null)'>查詢A41 (債券明細檔)</a></li>
                    <li id="A42SubMain" class=""><a href='@Url.Action("A42Detail","A4",null)'>B01 (執行減損計算 債券)</a></li>
                </ul>
                <li id="A7Main" data-toggle="collapse" data-target="#A7" class="collapsed active">
                    <a href="#">
                    <i class="fa fa-file-excel-o fa-lg"></i> 
                        A7 (轉移矩陣資料檔)
                    <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="A7">
                    <li id="A70SubMain" class="active "><a href='@Url.Action("Index","A7",null)'>A7 (上傳檔案)</a></li>
                    <li id="A71SubMain" class=""><a href='@Url.Action("A71Detail","A7",null)'>查詢A71 (轉移矩陣資料檔_Moody)</a></li>
                    <li id="A72SubMain" class=""><a href='@Url.Action("A72Detail","A7",null)'>查詢A72 (轉移矩陣資料檔_調整後)</a></li>
                    <li id="A73SubMain" class=""><a href='@Url.Action("A73Detail","A7",null)'>查詢A73 (等級違約率矩陣)</a></li>
                    <li id="A74SubMain"><a href='@Url.Action("A74Detail","A7",null)'>查詢A51 (信評主標尺對應檔)</a></li>
                    @*<li id=""><a href='#'>Tabs &amp; Accordions</a></li>*@
                </ul>
                <li id="A8Main" data-toggle="collapse" data-target="#A8" class="collapsed">
                    <a href="#">
                    <i class="fa fa-file-excel-o fa-lg"></i>
                       A8 (違約機率資料檔)
                    <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="A8">
                    <li id="A80SubMain" class=""><a href='@Url.Action("Index","A8",null)'>A8 (上傳檔案)</a></li>
                    <li id="A81SubMain" class=""><a href='@Url.Action("Detail","A8",null)'>查詢(A81.A82.A83)</a></li>
                    @*<li id="A82" class=""><a href="#">A82 (季違約機率資料檔_Moody)</a></li>
                    <li id="A83" class=""><a href="#">A83 (機率預測資料_Moody)</a></li>*@
                </ul>
                @*<li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                </ul>*@
                <li id="A0Main" data-toggle="collapse" data-target="#A0" class="collapsed">
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> User
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="A0">
                    <li id="A00SubMain" class=""><a href='@Url.Action("Login","Account",null)'>登入</a></li>
                    <li id="A01SubMain" class=""><a href='@Url.Action("LogOut","Account",null)'>登出</a></li>
                </ul>
                @*<li>
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> Users
                    </a>
                </li>*@
            </ul>
        </div>
    </div>
    @RenderBody()
    <input type="hidden" value="@ViewBag.Manu" id="vbManu" />
    <input type="hidden" value="@ViewBag.SubManu" id="vbSubmanu" />
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Sidebar")
    @RenderSection("scripts", required: false)
</body>
</html>
